body{
    width: 100vw;
}

ul{
    list-style: none;
    margin: auto;
    display: flex;
}

h2, .dropdown-program-li {
    font-family: "ReaderPro", sans-serif;
    font-size: 27px;
}

.nav-li{
    display: flex;
    margin: 10px;
}

#dropdown-top{
    height: 400px;
    width: 200px;
    background: url('./hunc\ test.jpg');
    list-style: none;
}

.dropdown-program-li{
    color: white;
}
@font-face {
    font-family: "ReaderPro";
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url("./fonts/ReaderPro/reader-regular-pro.eot");
    src: url("./fonts/ReaderPro/reader-regular-pro.eot?#iefix") format("embedded-opentype"),url("./fonts/ReaderPro/reader-regular-pro.woff2") format("woff2"),url("./fonts/ReaderPro/reader-regular-pro.woff") format("woff"),url("./fonts/ReaderPro/reader-regular-pro.ttf") format("truetype")
}

.li-shape{
    align-self: center;
}


/* Stolen Code Below */



Stolen code


.lightbox__list .lightbox:not(.has-adapted) {
    position: absolute;
    width: 100%;
    height: 100%
}

body.is-zoomed .lightbox__list {
    display: none
}

.lightbox__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

@media (min-width: 1024px) {
    .lightbox__item {
        width:100%
    }
}

.lightbox__item figcaption {
    display: none
}

@media (max-width: 1023px) {
    .lightbox__item figcaption {
        display:block;
        height: 92px;
        opacity: 0;
        pointer-events: none
    }
}

.lightbox__item:not(.is-current) {
    display: none
}

.lightbox__video {
    width: 100%
}

.lightbox__image {
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    margin-top: 88px
}

.lightbox__image::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

@media (min-width: 1024px) {
    .lightbox__image {
        position:relative;
        max-width: 100%;
        margin-top: 0;
        width: auto
    }
}

.lightbox__image img {
    display: inline-block;
    position: relative;
    vertical-align: top;
    max-width: 100%;
    pointer-events: none;
    height: auto;
    width: auto;
    margin: auto
}

@media (min-width: 1024px) {
    .lightbox__image img {
        vertical-align:middle;
        max-height: 130vh;
        min-height: 100%;
        max-width: inherit
    }
}

.is-adapted .lightbox__image img {
    max-height: none
}

@media (max-width: 1023px) {
    .is-adapted .lightbox__image {
        margin-top:0;
        overflow: unset;
        width: auto
    }

    .is-adapted .lightbox__image img {
        max-width: none
    }
}

.lightbox__zoom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    display: none
}

.zoom {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    transition: opacity .5s cubic-bezier(0.5, 0, 0.2, 1);
    background: inherit;
    overflow: hidden
}

.zoom.active {
    pointer-events: all;
    opacity: 1
}

.zoom__imagewrap {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    text-align: center
}

.zoom__imagewrap>div {
    display: inline-block
}

.zoom__image {
    white-space: nowrap;
    display: block;
    width: auto;
    margin: auto;
    text-align: center;
    position: absolute;
    min-width: 100%;
    min-height: 100%
}

.zoom__image::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

.zoom__image img {
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
    max-width: none;
    width: auto
}

.zoom__buttons {
    position: absolute;
    top: 20px;
    right: 20px
}

.zoom__button--in,.zoom__button--out {
    display: block
}

.zoom__deep {
    position: relative;
    width: 100%;
    height: 100%
}

.caption {
    width: 100%;
    background: #fff;
    transition: transform .5s cubic-bezier(0.5, 0, 0.2, 1) 0.1s;
    color: #1d1d1d
}

@media (min-width: 1024px) {
    .caption {
        width:458px
    }
}

.caption__head {
    position: absolute;
    bottom: 100%;
    background: inherit;
    width: 100%;
    padding: 20px 28px;
    border-radius: 5px 5px 0 0
}

@media (min-width: 1024px) {
    .caption__head {
        margin-bottom:-10px;
        padding: 22px 40px 25px
    }
}

.caption__title {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2
}

@media (min-width: 1024px) {
    .caption__title {
        font-size:24px;
        font-size: 1.5rem;
        line-height: 1.16667;
        padding: 4px 0
    }
}

.caption__subtitle {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.57143;
    font-weight: 500;
    letter-spacing: 0.26px
}

@media (min-width: 1024px) {
    .caption__subtitle {
        font-size:14px;
        font-size: .875rem;
        line-height: 1.85714;
        padding-bottom: 5px
    }
}

.caption__toggle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px
}

.caption__toggle button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    margin: 8px 6px;
    line-height: 40px
}

.caption__text {
    padding: 7px 40px 22px;
    transition: transform 1s cubic-bezier(0.5, 0, 0.2, 1)
}

.caption__text hr {
    margin: 7px 0;
    width: 80px
}

.caption__text p,.caption__text li {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.85714;
    letter-spacing: 0.26px
}

.caption__text p:not(:last-child),.caption__text li:not(:last-child) {
    margin-bottom: 13px
}

.lang {
    margin-left: 20px
}

.lang__item {
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.4;
    padding: 0 4px
}

.dropdown {
    position: relative;
    min-height: 44px;
    width: 100%;
    z-index: 1
}

.dropdown:not(.is-native) select {
    display: none
}

.dropdown.is-native select {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%
}

.dropdown__wrap {
    position: absolute;
    overflow: hidden;
    min-height: 44px;
    max-height: 200px;
    border: 1px solid #B7B4B4;
    border-radius: 5px;
    width: 100%
}

.dropdown--relative .dropdown__wrap {
    position: relative
}

.dropdown__list {
    background: #fff;
    width: auto;
    display: inline-block;
    position: relative;
    min-width: 100%
}

.dropdown__option {
    line-height: 40px;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 56px;
    position: relative;
    text-align: left;
    min-width: 340px;
    z-index: 0
}

.dropdown__option::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #e9ecef;
    content: "";
    display: block;
    z-index: -1;
    opacity: 0
}

.dropdown__option::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #5b88f1;
    content: "";
    display: block;
    opacity: 0
}

.dropdown__option.is-disabled {
    opacity: .5
}

.dropdown.is-open:not(.is-native) .dropdown__option:not(.is-disabled):hover::before,.dropdown.is-open:not(.is-native) .dropdown__option.is-selected:not(.is-disabled)::before,.dropdown.is-open:not(.is-native) .dropdown__option.is-selected:not(.is-disabled)::after {
    opacity: 1
}

.dropdown__option:first-child {
    padding-top: 4px
}

.dropdown__option:last-child {
    padding-bottom: 9px
}

.dropdown__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 40px;
    line-height: 40px;
    transition: transform 0.4s cubic-bezier(0.5, 0, 0.2, 1)
}

.dropdown .iScrollVerticalScrollbar {
    position: absolute;
    width: 40px;
    bottom: 1px;
    top: 41px;
    right: 1px;
    overflow: hidden;
    transition: opacity .25s cubic-bezier(0.5, 0, 0.2, 1)
}

.dropdown .iScrollVerticalScrollbar::before {
    content: "";
    background: #f8f9fa;
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0
}

.dropdown.is-native .iScrollVerticalScrollbar,.dropdown:not(.has-scroll) .iScrollVerticalScrollbar,.dropdown:not(.is-open) .iScrollVerticalScrollbar {
    opacity: 0;
    pointer-events: none
}

.dropdown .iScrollIndicator {
    position: absolute;
    width: 100%;
    display: block;
    cursor: pointer;
    z-index: 1
}

.dropdown .iScrollIndicator::before {
    content: "";
    background: #5b88f1;
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 3px
}

.block--circle {
    display: inline-block;
    position: relative;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: #1d1d1d
}

@media (min-width: 1024px) {
    .block--circle {
        display:inline-block;
        position: relative;
        width: 2.1vw;
        height: 2.1vw;
        border-radius: 50%;
        background-color: #1d1d1d
    }
}

@media (min-width: 1600px) {
    .block--circle {
        display:inline-block;
        position: relative;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: #1d1d1d
    }
}

.header .block--circle {
    top: 0.1vw;
    vertical-align: middle
}

.mac .header .block--circle {
    top: -0.3vw
}

@media (min-width: 1600px) {
    .header .block--circle {
        top:-0.5px
    }

    .mac .header .block--circle {
        top: -3px
    }
}

.text .block--circle {
    vertical-align: middle
}

@media (max-width: 1023px) {
    .text .block--circle {
        display:inline-block;
        position: relative;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #1d1d1d
    }
}

.block--square {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 26px;
    background-color: currentColor
}

@media (min-width: 1024px) {
    .block--square {
        display:inline-block;
        position: relative;
        width: 1.875vw;
        height: 1.875vw;
        background-color: currentColor
    }
}

@media (min-width: 1600px) {
    .block--square {
        display:inline-block;
        position: relative;
        width: 26px;
        height: 26px;
        background-color: currentColor
    }
}

.header .block--square {
    top: 0.45vw
}

.mac .header .block--square {
    top: 0
}

@media (min-width: 1600px) {
    .header .block--square {
        top:6px
    }

    .mac .header .block--square {
        top: 3px
    }
}

.block--triangle {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 25px solid #1d1d1d;
    border-right: 25px solid transparent
}

.block--triangle::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 1px;
    width: 0;
    height: 0;
    border-bottom: calc(25px - 4px) solid #fff;
    border-right: calc(25px - 4px) solid transparent;
    transform: scale(0);
    transition: transform .25s cubic-bezier(0.5, 0, 0.2, 1);
    transform-origin: center center
}

@media (min-width: 1024px) {
    .block--triangle {
        position:relative;
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 1.8vw solid #1d1d1d;
        border-right: 1.8vw solid transparent
    }

    .block--triangle::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 1px;
        width: 0;
        height: 0;
        border-bottom: calc(1.8vw - 4px) solid #fff;
        border-right: calc(1.8vw - 4px) solid transparent;
        transform: scale(0);
        transition: transform .25s cubic-bezier(0.5, 0, 0.2, 1);
        transform-origin: center center
    }
}

@media (min-width: 1600px) {
    .block--triangle {
        position:relative;
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 29px solid #1d1d1d;
        border-right: 29px solid transparent
    }

    .block--triangle::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 1px;
        width: 0;
        height: 0;
        border-bottom: calc(29px - 4px) solid #fff;
        border-right: calc(29px - 4px) solid transparent;
        transform: scale(0);
        transition: transform .25s cubic-bezier(0.5, 0, 0.2, 1);
        transform-origin: center center
    }
}

.header .block--triangle {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 25px solid #1d1d1d;
    border-right: 25px solid transparent;
    top: 0.5vw
}

.header .block--triangle::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 1px;
    width: 0;
    height: 0;
    border-bottom: calc(25px - 4px) solid #fff;
    border-right: calc(25px - 4px) solid transparent;
    transform: scale(0);
    transition: transform .25s cubic-bezier(0.5, 0, 0.2, 1);
    transform-origin: center center
}

@media (min-width: 1024px) {
    .header .block--triangle {
        position:relative;
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 1.8vw solid #1d1d1d;
        border-right: 1.8vw solid transparent
    }

    .header .block--triangle::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 1px;
        width: 0;
        height: 0;
        border-bottom: calc(1.8vw - 4px) solid #fff;
        border-right: calc(1.8vw - 4px) solid transparent;
        transform: scale(0);
        transition: transform .25s cubic-bezier(0.5, 0, 0.2, 1);
        transform-origin: center center
    }
}

.mac .header .block--triangle {
    top: 0
}

@media (min-width: 1600px) {
    .header .block--triangle {
        position:relative;
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 29px solid #1d1d1d;
        border-right: 29px solid transparent;
        top: 6px
    }

    .header .block--triangle::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 1px;
        width: 0;
        height: 0;
        border-bottom: calc(29px - 4px) solid #fff;
        border-right: calc(29px - 4px) solid transparent;
        transform: scale(0);
        transition: transform .25s cubic-bezier(0.5, 0, 0.2, 1);
        transform-origin: center center
    }

    .mac .header .block--triangle {
        top: 1px
    }
}

.block--hexagon {
    display: inline-block;
    top: 0;
    width: 28px;
    height: calc(28px * 0.577);
    background: #1d1d1d;
    position: relative;
    margin: 0.25vw
}

.block--hexagon::before,.block--hexagon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: calc(28px / 2) solid transparent;
    border-right: calc(28px / 2) solid transparent
}

.block--hexagon::before {
    bottom: 100%;
    border-bottom: calc(28px * 0.288) solid #1d1d1d
}

.block--hexagon::after {
    top: 100%;
    border-top: calc(28px * 0.288) solid #1d1d1d
}

@media (min-width: 1024px) {
    .block--hexagon {
        display:inline-block;
        top: 0;
        width: 1.8vw;
        height: calc(1.8vw * 0.577);
        background: #1d1d1d;
        position: relative;
        margin: 0.25vw
    }

    .block--hexagon::before,.block--hexagon::after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-left: calc(1.8vw / 2) solid transparent;
        border-right: calc(1.8vw / 2) solid transparent
    }

    .block--hexagon::before {
        bottom: 100%;
        border-bottom: calc(1.8vw * 0.288) solid #1d1d1d
    }

    .block--hexagon::after {
        top: 100%;
        border-top: calc(1.8vw * 0.288) solid #1d1d1d
    }
}

@media (min-width: 1600px) {
    .block--hexagon {
        display:inline-block;
        top: 0;
        width: 29px;
        height: calc(29px * 0.577);
        background: #1d1d1d;
        position: relative;
        margin: 0.25vw
    }

    .block--hexagon::before,.block--hexagon::after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-left: calc(29px / 2) solid transparent;
        border-right: calc(29px / 2) solid transparent
    }

    .block--hexagon::before {
        bottom: 100%;
        border-bottom: calc(29px * 0.288) solid #1d1d1d
    }

    .block--hexagon::after {
        top: 100%;
        border-top: calc(29px * 0.288) solid #1d1d1d
    }
}

.header .block--hexagon {
    display: inline-block;
    top: 0;
    width: 28px;
    height: calc(28px * 0.577);
    background: #1d1d1d;
    position: relative;
    margin: 0.25vw;
    margin-left: 13px
}

.header .block--hexagon::before,.header .block--hexagon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: calc(28px / 2) solid transparent;
    border-right: calc(28px / 2) solid transparent
}

.header .block--hexagon::before {
    bottom: 100%;
    border-bottom: calc(28px * 0.288) solid #1d1d1d
}

.header .block--hexagon::after {
    top: 100%;
    border-top: calc(28px * 0.288) solid #1d1d1d
}

@media (min-width: 1024px) {
    .header .block--hexagon {
        display:inline-block;
        top: 0;
        width: 2vw;
        height: calc(2vw * 0.577);
        background: #1d1d1d;
        position: relative;
        margin: 0.25vw;
        top: 0.35vw;
        right: 0.45vw;
        margin-right: 7px
    }

    .header .block--hexagon::before,.header .block--hexagon::after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-left: calc(2vw / 2) solid transparent;
        border-right: calc(2vw / 2) solid transparent
    }

    .header .block--hexagon::before {
        bottom: 100%;
        border-bottom: calc(2vw * 0.288) solid #1d1d1d
    }

    .header .block--hexagon::after {
        top: 100%;
        border-top: calc(2vw * 0.288) solid #1d1d1d
    }

    .mac .header .block--hexagon {
        top: 0
    }
}

@media (min-width: 1600px) {
    .header .block--hexagon {
        display:inline-block;
        top: 0;
        width: 29px;
        height: calc(29px * 0.577);
        background: #1d1d1d;
        position: relative;
        margin: 0.25vw;
        top: 4px;
        right: 5px;
        margin-right: 10px
    }

    .header .block--hexagon::before,.header .block--hexagon::after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-left: calc(29px / 2) solid transparent;
        border-right: calc(29px / 2) solid transparent
    }

    .header .block--hexagon::before {
        bottom: 100%;
        border-bottom: calc(29px * 0.288) solid #1d1d1d
    }

    .header .block--hexagon::after {
        top: 100%;
        border-top: calc(29px * 0.288) solid #1d1d1d
    }

    .mac .header .block--hexagon {
        top: 3px
    }
}

.tiles--half .block--hexagon,.tiles--theater .block--hexagon,.tiles--people .block--hexagon,.tile--people .block--hexagon,.team .block--hexagon {
    display: inline-block;
    top: 0;
    width: 26px;
    height: calc(26px * 0.577);
    background: #1d1d1d;
    position: relative;
    margin: 0.25vw;
    margin: 12px 0 0 1px
}

.tiles--half .block--hexagon::before,.tiles--half .block--hexagon::after,.tiles--theater .block--hexagon::before,.tiles--theater .block--hexagon::after,.tiles--people .block--hexagon::before,.tiles--people .block--hexagon::after,.tile--people .block--hexagon::before,.tile--people .block--hexagon::after,.team .block--hexagon::before,.team .block--hexagon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: calc(26px / 2) solid transparent;
    border-right: calc(26px / 2) solid transparent
}

.tiles--half .block--hexagon::before,.tiles--theater .block--hexagon::before,.tiles--people .block--hexagon::before,.tile--people .block--hexagon::before,.team .block--hexagon::before {
    bottom: 100%;
    border-bottom: calc(26px * 0.288) solid #1d1d1d
}

.tiles--half .block--hexagon::after,.tiles--theater .block--hexagon::after,.tiles--people .block--hexagon::after,.tile--people .block--hexagon::after,.team .block--hexagon::after {
    top: 100%;
    border-top: calc(26px * 0.288) solid #1d1d1d
}


